<!DOCTYPE html>
<%#include "artifakt.h" %>
<% tfetch(QVariantMap, artifakt); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Artifakt</h1>

<%== formTag(urla("save", artifakt["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="artifakt[id]" value="<%= artifakt["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Filename<br /><input type="text" name="artifakt[filename]" value="<%= artifakt["filename"] %>" /></label>
  </p>
  <p>
    <label>Sha1<br /><input type="text" name="artifakt[sha1]" value="<%= artifakt["sha1"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", artifakt["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
